/* 
projectxs.css
LINKED to index.html
*/

/* HTML tags */

/* jQuery Mobile classes              */
/* Background colour                  */
.ui-page,
.ui-header {
  background: #cedbce !important;
}

/* hide default slider text box      */
.ui-slider-input {
  display: none !important;
}

.ui-slider-track {
  margin-left: 20px;
}

/* USER DEFINED CLASSES */

/* resizes the text inputs */
.input-text {
  width: 50px;
}

/* resizex the text input for annual energy */
.annual-energy-input {
  width: 75px;
}

/* Centering elements */
.slider-container,
.text-input-container {
  padding: 0 10px 0 40px;
  margin: 0 auto;
}

/* Centering drop-down menus and putting spaces between them using padding */
.drop-down-container {
  margin: 0 auto;
  padding: 0 10px;
}
/* Aligning the canvases and the ship crate img with the select elements */
.canvas,
.ship-crate {
  margin-left: 10px;
}
/* user defined id's                 */
#planSldOutDiv,
#windowSldOutDiv {
  width: 50px;
}
